:root {
  --btn-color: #875ae2;
  --btn-hover: #cab0fc;
  --font-title: 3rem;
  --font-weight-title: 700;
  --font-text: 1.25rem;
  --font-sub-title: 2rem;
  --font-weight-text: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  background: linear-gradient(to left, #875ae2 20%, #a87efc 50%);
}

/* HEADER */
header {
  display: flex;
  height: 39.5em;
}

header .header-title {
  margin: auto;
}

.header-title h1 {
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
  font-weight: var(--font-weight-title);
}

.header-title button {
  margin-top: 1.5rem;
  width: 16em;
  height: 3em;
  border-radius: 100px;
  color: white;
  background-color: var(--btn-color);
  font-size: var(--font-text);
  font-weight: var(--font-weight-title);
}
.header-title a:hover button {
  background-color: var(--btn-hover);
}

header .hero {
  margin: auto;
}

.hero img {
  width: 33em;
  height: 27em;
}

/* SECTION 1 */

.section {
  height: 31.5em;
  display: flex;
}

.section .section-title {
  margin: auto;
}

.section .subhead {
  margin: auto 0;
}

.section-title h1 {
  font-size: var(--font-title);
  font-weight: var(--font-weight-title);
}

.section .subhead img {
  width: 6.5em;
  height: 6.5em;
  border-radius: 6.5rem;
}

.section .subhead h3 {
  font-size: var(--font-sub-title);
  font-weight: var(--font-weight-title);
  margin: 0.3em 0;
}

.section .subhead p {
  font-size: var(--font-text);
  font-weight: var(--font-weight-text);
  width: 16rem;
}

/* SERVICE SECTION */
.service-section {
  height: 48.5em;
  display: flex;
  flex-direction: column;
}

.service-title {
  margin: auto 6em 1em;
}

.services {
  margin: 0 auto auto;
  display: flex;
  gap: 1em;
}

.service-title h1 {
  font-size: var(--font-title);
  font-weight: var(--font-weight-title);
}

.service img {
  width: 21.5em;
  height: 21em;
}

.service h3 {
  text-align: center;
  font-size: var(--font-sub-title);
  font-weight: var(--font-weight-title);
  margin: 0 0 0.5em;
}

.service p {
  text-align: center;
  font-size: var(--font-text);
  font-weight: var(--font-weight-text);
  width: 21.5rem;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  height: 28.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.testimonial img {
  width: 8.5em;
  height: 8.5em;
  border-radius: 8.5em;
}

.testimonial p {
  font-size: var(--font-text);
  font-weight: var(--font-weight-text);
  width: 44.75em;
  margin: 0.5em auto 2em;
}

.testimonial-username h3 {
  font-size: var(--font-sub-title);
  font-weight: var(--font-weight-title);
}

/* FOOTER */

footer {
  display: flex;
  height: 4.5em;
  padding: 1.5em 0;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: white;
}
